/***************************************
 *            Inicio: Welcome          *
 ***************************************/

.welcome__custom-list {
  list-style-type: disc;
  padding-left: 1.5rem;
}

.welcome__custom-list li::marker {
  color: var(--accent-color);
  font-size: 1.5rem;
}

.btn__accent-color__hover.active {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.btn__accent-color__hover.active {
  position: relative;
}

.btn__accent-color__hover.active::after {
  content: "";
  position: absolute;
  right: -19px; /* Ajusta la posición */
  top: 50%;
  transform: translateY(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent var(--accent-color);
}

/***************************************
 *            Fin: Welcome            *
 ***************************************/
