/* Estilos básicos de Swiper */
@import "swiper/css";
@import "swiper/css/grid";
@import "swiper/css/effect-fade";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

/***************************************
 *      Inicio: Estilos Globales       *
 ***************************************/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

body {
  overflow-x: hidden;
}

:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --accent-color: #32b5f3;
  --accent-color-fade: #32b6f39e;
  --background-dark-color: #10121a;
  --background-dark-grey: #191d2b;
  --border-color: #2e344e;
  --background-light-color: #f1f1f1;
  --background-light-color-2: rgba(3, 127, 255, 0.3);
  --white-color: #fff;
  --gray-color: #64748b;
  --font-light-color: #a4acc4;
  --font-dark-color: #313131;
  --font-dark-color-2: #151515;
  --sidebar-dark-color: #191d2b;
}

.text__accent-color {
  color: var(--accent-color);
}

.background-accent__item {
  background-color: var(--accent-color);
}

.section__title {
  position: relative;
  margin-bottom: 0.25rem;
}

.section__title::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -8px;
  width: 3.5rem;
  height: 1px;
  background-color: var(--accent-color);
}

.section__title::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -12px;
  width: 3.5rem;
  height: 1px;
  background-color: var(--accent-color);
}

.box-shadow__item {
  transition: box-shadow 0.3s ease-in-out;
}

.box-shadow__item:hover {
  box-shadow: 8px 8px 16px rgba(165, 177, 198, 0.8),
    -8px -8px 16px rgba(255, 255, 255, 0.8);
}

/***************************************
 *       Fin: Estilos Globales         *
 ***************************************/
/***************************************
 *            Inicio: Hero             *
 ***************************************/

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/images/hero-banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.title__double-lines {
  position: relative;
}

.title__double-lines::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -45%;
  width: 6.5rem;
  height: 1.3px; /* Grosor de la línea */
  background-color: white; /* Color de la línea */
}

.title__double-lines::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -45%;
  width: 6.5rem;
  height: 1.3px; /* Grosor de la línea */
  background-color: white; /* Color de la línea */
}

.title__double-lines::before {
  box-shadow: 0 5px 0 white;
}

.title__double-lines::after {
  box-shadow: 0 5px 0 white;
}

/***************************************
 *             Fin: Hero               *
 ***************************************/

/***************************************
 *         Inicio: Main Cards          *
 ***************************************/

.main-cards__title {
  position: relative;
}

.main-cards__title::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -8px;
  width: 3.5rem;
  height: 0.5px;
  background-color: var(--gray-color);
  transition: background-color 0.3s ease-in-out;
}

.main-cards__title::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -12px;
  width: 3.5rem;
  height: 0.5px;
  background-color: var(--gray-color);
  transition: background-color 0.3s ease-in-out;
}

.main-cards__article-item {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.main-cards__article-item {
  color: var(--gray-color);
}

.main-cards__article-item:hover {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.main-cards__article-item:hover .main-cards__title::after,
.main-cards__article-item:hover .main-cards__title::before {
  background-color: var(--white-color);
}

.main-cards__icon {
  transition: color 0.3s ease-in-out;
}

.main-cards__article-item:hover .main-cards__icon {
  color: var(--accent-color);
}

/***************************************
 *          Fin: Main Cards            *
 ***************************************/

/***************************************
 *         Inicio: Top Sellers         *
 ***************************************/

.top-sellers__book-card {
  position: relative;
}

.top-sellers__hidden-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: var(--accent-color);
  color: var(--white-color);
  overflow: hidden;
  transition: opacity 0.3s ease-in-out;
}

.top-sellers__hidden-menu__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-inline: 1rem;
  height: 100%;
  gap: 1rem;
  transform: translateY(50%);
  transition: transform 0.4s ease-in-out;
}

.top-sellers__book-card:hover .top-sellers__hidden-menu {
  opacity: 1;
}

.top-sellers__book-card:hover .top-sellers__hidden-menu__body {
  transform: translateY(0);
}

/***************************************
 *          Fin: Top Sellers           *
 ***************************************/

/***************************************
 *           Inicio: Products          *
 ***************************************/

.products__plus-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-color);
  color: var(--white-color);
  font-weight: 800;
  font-size: 3.75rem;
  transition: opacity 0.3s ease-in-out;
}

.products__article-item:hover .products__plus-item {
  opacity: 1;
}

.products__article-item {
  height: fit-content;
  transition: box-shadow 0.3s ease-in-out;
}

.products__article-item:hover {
  box-shadow: 0px 8px 16px rgba(165, 177, 198, 0.7);
}

.products__article-item:hover .book-guide__plus-item {
  opacity: 1;
}

.products__article-item:hover .book-guide__btn {
  opacity: 1;
}

.products__card-title {
  transition: color 0.3s ease-in-out;
}

.products__article-item:hover .products__card-title {
  color: var(--accent-color);
}

.products__article-item.box-shadow-mode {
  box-shadow: none;
}
/***************************************
 *           Fin: Products             *
 ***************************************/

/***************************************
 *         Inicio: Book Guide          *
 ***************************************/

.book-guide__btn {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.book-guide__plus-item {
  position: absolute;
  background-color: var(--accent-color-fade);
  top: 1rem;
  left: 1rem;
  right: 1rem;
  bottom: 1rem;
  color: var(--white-color);
  font-weight: 800;
  font-size: 3.5rem;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease-in-out;
}

/***************************************
 *          Fin: Book Guide            *
 ***************************************/

/***************************************
 *           Inicio: Blog              *
 ***************************************/

.blog__card-title {
  position: relative;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.blog__card-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 1.75rem;
  height: 0.5px;
  background-color: var(--accent-color);
}

.blog__card-title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -12px;
  width: 1.75rem;
  height: 0.5px;
  background-color: var(--accent-color);
}

.blog__card-article:hover .blog__card-article__date {
  left: 0;
}

.blog__card-anchor {
  width: fit-content;
  transition: color 0.3s ease-in-out, gap 0.3s ease-in-out;
}

.blog__card-anchor:hover {
  color: var(--accent-color);
  gap: 1rem;
}

/***************************************
 *             Fin: Blog               *
 ***************************************/

/***************************************
 *        Inicio: Testimonies          *
 ***************************************/

.testimonies {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../assets/images/testimonials-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.testimonies__card-container {
  width: 10rem;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid var(--accent-color);
}

/* Personalizar las flechas */
.swiper-button-prev,
.swiper-button-next {
  opacity: 0.8;
  color: var(--accent-color); /* Color de las flechas */
  font-weight: 900;
  transition: transform 0.3s ease;
}

/* Hover para dar efecto */
.swiper-button-prev:hover,
.swiper-button-next:hover {
  transform: scale(1.05); /* Agranda las flechas al pasar el cursor */
  opacity: 1;
}

/* Personalizar puntos de paginación */
.swiper-pagination-bullet {
  background: var(--white-color);
  width: 12px; /* Ancho */
  height: 12px; /* Alto */
  opacity: 0.6; /* Opacidad inicial */
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Punto activo */
.swiper-pagination-bullet-active {
  background: var(--accent-color); /* Color del punto activo */
  transform: scale(1.1); /* Tamaño más grande */
  opacity: 1; /* Totalmente visible */
}

/***************************************
 *          Fin: Testimonies           *
 ***************************************/

/***************************************
 *           Inicio: Gift              *
 ***************************************/
.gift {
  position: relative;
  overflow: visible;
  height: 120vh;
}

.gift__background-image {
  background-image: url("../assets/images/laptop.png");
  background-repeat: no-repeat;
  background-size: auto;
  /* height: 92vh;
  width: 92vw; */
  height: 470px;
  width: 891px;
  z-index: 100;
  /* overflow: visible; */
  position: absolute;
  bottom: -4%;
  right: -22%;
}

.gift__title::after,
.gift__title::before {
  background-color: var(--white-color);
}

.gift__card-item {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.gift__card-item__arrow {
  opacity: 0;
  transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.gift__card-body:hover .gift__card-item {
  background-color: #47bdf4;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.gift__card-body:hover .gift__card-item__arrow {
  opacity: 1;
  background-color: #47bdf4;
}
/***************************************
 *             Fin: Gift               *
 ***************************************/
