/* Estilos básicos de Swiper */
@import "swiper/css";
@import "swiper/css/grid";
@import "swiper/css/effect-fade";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

/***************************************
 *      Inicio: Estilos Globales       *
 ***************************************/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  width: 100%;
}

:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  /* --accent-color: #32b5f3; */
  --accent-color-light: #c7ebfb;
  --accent-color: #2279b1;
  --accent-color-fade: #32b6f39e;
  --background-dark-color: #10121a;
  --background-dark-grey: #191d2b;
  --background-dark-fade: rgba(0, 0, 0, 0.2);
  --border-color: #2e344e;
  --background-light-color: #f1f1f1;
  --background-light-color-2: rgba(3, 127, 255, 0.3);
  --black-color: #000;
  --white-color: #fff;
  --gray-color: #64748b;
  --font-light-color: #a4acc4;
  --font-dark-color: #313131;
  --font-dark-color-2: #151515;
  --sidebar-dark-color: #191d2b;
}

.btn__accent-color__hover {
  color: inherit;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn__accent-color__hover:hover {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.text__accent-color {
  color: var(--accent-color);
}

.background-accent__item {
  background-color: var(--accent-color);
}

.section__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.85rem;
  position: relative;
  margin-bottom: 0.25rem;
}

.section__title::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -8px;
  width: 3.5rem;
  height: 1px;
  background-color: var(--accent-color);
}

.section__title::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -12px;
  width: 3.5rem;
  height: 1px;
  background-color: var(--accent-color);
}

.box-shadow__item {
  transition: box-shadow 0.3s ease-in-out;
}

.box-shadow__item:hover {
  box-shadow: 8px 8px 16px rgba(165, 177, 198, 0.8),
    -8px -8px 16px rgba(255, 255, 255, 0.8);
}

.btn {
  font-size: 1.1em;
  width: fit-content;
  border: 1px solid var(--background-dark-fade);
  font-weight: 600;
  padding: 0.7rem 1.5rem;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.btn:hover {
  border: 1px solid var(--accent-color);
  color: var(--white-color);
  background-color: var(--accent-color);
}

/***************************************
 *       Fin: Estilos Globales         *
 ***************************************/

/***************************************
 *           Inicio: Gift              *
 ***************************************/

.gift__background-image {
  position: relative;
}

.gift__background-image img {
  position: absolute;
  height: 470px;
  width: 891px;
  z-index: 100;
  bottom: 0;
  right: -22.5%;
  display: none;
}

@media screen and (min-width: 1024px) {
  .gift__background-image img {
    display: block;
  }
}

.gift__title::after,
.gift__title::before {
  background-color: var(--white-color);
}

.gift__card-item {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.gift__card-item__arrow {
  opacity: 0;
  transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.gift__card-body:hover .gift__card-item {
  background-color: #47bdf4;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.gift__card-body:hover .gift__card-item__arrow {
  opacity: 1;
  background-color: #47bdf4;
}

/***************************************
 *             Fin: Gift               *
 ***************************************/

/***************************************
 *       Inicio: Price Package         *
 ***************************************/

.price-package {
  content-visibility: auto;
}

.price-card-container {
  position: relative;
  overflow: hidden;
}

.price-card-container::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 148px;
  background-color: rgba(0, 0, 0, 0.5);
}

.price-card-container img {
  transition: transform 1s ease-in;
}

.price-card-container:hover img {
  transform: scale(1.6);
}

.price-card__fill-item {
  z-index: 1;
  position: absolute;
  width: 100%;
  bottom: 0;
  top: 9.2rem;
  background-color: #f1f5f9;
}

.price-card-container:hover .price-card__fill-item {
  background-color: var(--white-color);
}

.price-card__price-circle {
  border: 4px solid var(--background-dark-fade);
  border-radius: 50%;
  background-color: var(--white-color);
  width: 8rem;
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  transition: transform 0.3s ease, background-color 0.3s ease-in-out,
    color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.price-card-container:hover .price-card__price-circle {
  border: 4px solid var(--white-color);
  box-shadow: 8px 8px 16px rgba(165, 177, 198, 0.8),
    -8px -8px 16px rgba(255, 255, 255, 0.8);
  transform: rotate(360deg);
  color: var(--white-color);
  background-color: var(--accent-color);
}

.price-card__paragraph {
  color: var(--secondary-color);
}

.price-card-container:hover .price-card__paragraph {
  color: var(--white-color);
}

.price-card__list {
  z-index: 5;
}

.price-card__list li {
  position: relative;
}

.price-card__list li:not(:last-child)::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 0.8px;
  width: 260%;
  bottom: -8px;
  background-color: var(--background-dark-fade);
}

.price-package__background-image {
  position: absolute;
  top: 0;
  right: -22.5%;
  width: 891px;
  object-fit: cover;
  z-index: 100;
  display: none;
}

@media screen and (min-width: 1024px) {
  .price-package__background-image {
    display: block;
  }
}

/***************************************
 *         Fin: Price Package           *
 ***************************************/

/***************************************
 *         Inicio: Newsletter          *
 ***************************************/

.newsletter {
  content-visibility: auto;
  background-image: url("../assets/images/newsletter-bg.avif");
  background-size: auto;
  background-position: bottom center;
  background-repeat: no-repeat;
}

.newsletter input {
  color: var(--secondary-color);
  outline: none;
}

/***************************************
 *          Fin: Newsletter            *
 ***************************************/
