/* Estilos básicos de Swiper */
@import "swiper/css";
@import "swiper/css/grid";
@import "swiper/css/effect-fade";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

/***************************************
 *      Inicio: Estilos Globales       *
 ***************************************/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  width: 100%;
  user-select: none;
}

:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  /* --accent-color: #32b5f3; */
  --accent-color-light: #c7ebfb;
  --accent-color: #2279b1;
  --accent-color-fade: #32b6f39e;
  --accent-color-dark: #063b5e;
  --background-dark-color: #10121a;
  --background-dark-grey: #191d2b;
  --background-dark-fade: rgba(0, 0, 0, 0.2);
  --border-color: #2e344e;
  --background-light-color: #f1f1f1;
  --background-light-color-2: rgba(3, 127, 255, 0.3);
  --black-color: #000;
  --white-color: #fff;
  --gray-color: #64748b;
  --font-light-color: #a4acc4;
  --font-dark-color: #313131;
  --font-dark-color-2: #151515;
  --sidebar-dark-color: #191d2b;
}

.btn__accent-color__hover {
  color: inherit;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn__accent-color__hover:hover {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.text__accent-color {
  color: var(--accent-color);
}

.background-accent__item {
  background-color: var(--accent-color);
}

.section__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.85rem;
  position: relative;
  margin-bottom: 0.25rem;
}

.section__title::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -8px;
  width: 3.5rem;
  height: 1px;
  background-color: var(--accent-color);
}

.section__title::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -12px;
  width: 3.5rem;
  height: 1px;
  background-color: var(--accent-color);
}

.box-shadow__item {
  transition: box-shadow 0.3s ease-in-out;
}

.box-shadow__item:hover {
  box-shadow: 8px 8px 16px rgba(165, 177, 198, 0.8),
    -8px -8px 16px rgba(255, 255, 255, 0.8);
}

.btn {
  font-size: 1.1em;
  width: fit-content;
  border: 1px solid var(--background-dark-fade);
  font-weight: 600;
  padding: 0.7rem 1.5rem;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.btn:hover {
  border: 1px solid var(--accent-color);
  color: var(--white-color);
  background-color: var(--accent-color);
}

/***************************************
 *       Fin: Estilos Globales         *
 ***************************************/
