/***************************************
 *            Inicio: About            *
 ***************************************/

.about-hero {
  background-image: url("../assets/images/inner-banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  width: 100vw;
}

/***************************************
 *            Fin: About              *
 ***************************************/

/***************************************
 *            Inicio: Welcome          *
 ***************************************/

.welcome__custom-list {
  list-style-type: disc;
  padding-left: 1.5rem;
}

.welcome__custom-list li::marker {
  color: var(--accent-color);
  font-size: 1.5rem;
}

.btn__accent-color__hover.active {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.btn__accent-color__hover.active {
  position: relative;
}

.btn__accent-color__hover.active::after {
  content: "";
  position: absolute;
  right: -19px; /* Ajusta la posición */
  top: 50%;
  transform: translateY(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent var(--accent-color);
}

/***************************************
 *            Fin: Welcome            *
 ***************************************/

/***************************************
 *            Inicio: Mission          *
 ***************************************/

.about-mission summary {
  border-bottom: 1px solid var(--background-dark-fade);
  color: black;
  font-size: 1.15em;
  font-weight: 600;
  padding-block: 0.5rem;
  cursor: pointer;
}

details[open] summary .decrement-symbol {
  display: flex;
}

details[open] summary .plus-symbol {
  display: none;
}

.about-mission__title-btn {
  color: var(--accent-color);
  border-top: 4px solid var(--accent-color);
}

/***************************************
 *            Fin: Mission            *
 ***************************************/
