/***************************************
 *            Inicio: About            *
 ***************************************/

.about-hero {
  background-image: url("../assets/images/inner-banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  width: 100vw;
}

/***************************************
 *            Fin: About              *
 ***************************************/
