/***************************************
 *         Inicio: Main Cards          *
 ***************************************/

.main-cards {
  content-visibility: auto;
}

.main-cards__title {
  position: relative;
}

.main-cards__title::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -8px;
  width: 3.5rem;
  height: 0.5px;
  background-color: var(--gray-color);
  transition: background-color 0.3s ease-in-out;
}

.main-cards__title::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -12px;
  width: 3.5rem;
  height: 0.5px;
  background-color: var(--gray-color);
  transition: background-color 0.3s ease-in-out;
}

.main-cards__article-item {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.main-cards__article-item {
  color: var(--gray-color);
}

.main-cards__article-item:hover {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.main-cards__article-item:hover .main-cards__title::after,
.main-cards__article-item:hover .main-cards__title::before {
  background-color: var(--white-color);
}

.main-cards__icon {
  transition: color 0.3s ease-in-out;
}

.main-cards__article-item:hover .main-cards__icon {
  color: var(--accent-color);
}

/***************************************
 *          Fin: Main Cards            *
 ***************************************/
